@import "@/vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  border: 1px solid var(--additional-color2);
  border-radius: 5px;
  background-color: var(--health-color);
  color: var(--text-color);
  font-size: var(--text-secondary);
}
