@import "./vars.css";
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--additional-color1);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--additional-color1);
    border-radius: 5px;
  }
}

main {
  background-color: var(--main-color);
  width: 100%;
  min-height: 100vh;
  font-family: "Nova Square", sans-serif;
}

button,
input {
  font-family: "Nova Square", sans-serif;
}
