:root {
  --main-color: #242d3d;
  --additional-color1: #525a6c;
  --additional-color2: #dff1ff;
  --additional-color3: #daa21c;
  --text-color: #dff1ff;
  --text-main: 24px;
  --text-secondary: 20px;
}
